/* Survey page styles */

.photo{
  width: 60%;
  padding: 10px;
}

form {
  margin: 0 auto;
  text-align: left;
  display: inline-block;
  padding-top: 30px;
}

form p {
  font-size: .85em;
}

legend {
  font-weight: bold;
  font-size: 1.25em;
}

label {
  font-size: .85em;
}

fieldset {
  border: none;
}

textarea {
  padding-left: 5px;
  font-style: italic;
  outline: none;
  overflow: auto;
  height: 100px;
  width: 100%;
}

input, textarea, select {
  border: none;
  border: 1px solid #000;
  border-radius: 3px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  background: #E6EFF2;
}

.favorite {
  font-weight: bold;
  font-size: .85em;
}

.container{
  text-align: center;
}
.newsletter{
  text-align: right;

}


/* Styles for larger screens */
@media screen and (min-width: 840px) {
  .photo{
    width: 40%;
  }
}
